################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bookstore6/bookstore6/obj
/bookstore6/bookstore6/Properties
